.filter
{
  &__button-filter {
    position: center;
    display: flex;
    margin-top: 25px;
    margin-left: 12px;
    width: 296px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
  }
  &__image {
    margin-left: 101px;
    margin-top: 18px;
    width: 18px;
    height: 12px;
  }
  &__name {
      width: 63px;
      height: 14px;
      padding: 17px 15px;
      display: flex;
      font-style: normal;
      font-weight: bold;
  }

  &__button-alphabet {
    display: flex;
    margin: 8px 12px;
    width: 296px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-left: 12px;
  }

  &__arrow {
    margin-top: 21px;
    margin-left: 44px;
    width: 10px;
    height: 5px;
    display: flex;
  }
  &__sorts{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    &__button-filter {
      margin-left: 16px;
      width: 488px;
      margin-top: 24px;
    }
    &__image {margin-left: 196px;}
    &__button-alphabet {
      margin-left: 16px;
      margin-top: 24px;
      width: 488px;
    }
    &__arrow {margin-left: 235px;}
    &__sorts{display: none;}
  }
}

@media screen and (min-width: 1920px) {
  .filter {
    margin-left: 1490px;
    &__button-alphabet{
      //position: absolute;
      margin-top: -60px;
      width: 250px;
      height: 48px;
    }
    &__button-filter {
      display: none;
    }
    &__sorts{
      display: flex;
      position: absolute;
      margin-top: -65px;
      margin-left:-400px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
  }
}
