.footer{
  height: 143px;
  background: #202020;
  margin-top: 64px;

  &__legacy{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #909090;
  }
  &__political{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FFCC07;
  }
  &__company{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: #909090;
  }
  &__texts{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
    &__texts{
      padding-top: 0;
      display: flex;
      flex-direction: row;
      column-gap: 200px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    &__legacy{
      margin-left: 160px;
    }
    &__political{
      margin-left: 588px;
    }
    &__company{
      margin-left: 533px;
    }
  }
}